body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.ui.secondary.menu.gradientGrey .item:hover{
  background: none;
  color: #000000!important;
}
.ui.secondary.menu.gradientGrey .active.item{
  background: none;
  font-weight: bold;
  color: green!important;
}


.orangeHeader{
  background-color: #f2711c!important;
  margin-bottom: 15px;
}
